body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .gameboard {
    height: 40vh;
    width: 40vh;
    max-height: 60vh;
    max-width: 60vh;
    margin-bottom: 120;
    position: relative;
    text-align: center;
  }


 h1 {
    color: #2c3e50;
    margin-bottom: 35;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
  }


  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
      cursor: pointer;
      width: 300px;
      height: 100px;
      background: #ecf0f1;
      color: #2c3e50;
      border: none;
      border-bottom: 4px solid #c4c6c7;
      border-radius: 8px;
      font-size: 2.5rem;
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 150px);
      transition: .5s;
      outline: none;
  }

  .btn-start:hover {
      color: #ecf0f1;
      background: #2c3e50;
      border-bottom: 4px solid #1f3346;
  }

  .cursor {
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  * {
    font-family: Gill sans;
  }

  span {
    font-size: 1.5rem;
    margin-top: 4rem;
    display: inline-block;
  }
